{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="overlay"></div>

<div class="container-fluid">
    <div class="row text-center mb-4">
        <div class="col-12">
            <h1 class="logo-font pb-4">Who are we?</h1>
            <p>Level up! Climbing are a group of experiened coaches within the Greater Manchester area, who are passionate about passing on their climbing knowledge to others.</p>
            <p>We provide training at various venues, from group classes to 1:1 coaching and all abillities and ages.</p>
            <p>With Level Up! Climbing you will find a coaching option suitable for you! <a href="#">Click here</a> to view all our available coaching options.</p>
        </div>
    </div>
    <hr>
    <div class="row text-center mb-4">
        <div class="col-12">
            <h1 class="logo-font pb-4">Our Coaches</h1>
    
        </div>
    </div>
    <hr>
    <div class="row text-center mb-4">
        <div class="col-12">
            <h1 class="logo-font pb-4">Our Venues</h1>
    
        </div>
    </div>
</div>
{% endblock %}