{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="overlay"></div>

<div class="container-fluid">
    <div class="row text-center mb-4">
        <div class="col-12">
            <h1 class="logo-font pb-4">Who are we?</h1>
            <p>Level up! Climbing are a group of experiened coaches within the Greater Manchester area, who are passionate about passing on their climbing knowledge to others.</p>
            <p>We provide training at various venues, from group classes to 1:1 coaching and all abillities and ages.</p>
            <p>With Level Up! Climbing you will find a coaching option suitable for you! <a href="#">Click here</a> to view all our available coaching options.</p>
        </div>
    </div>
    <hr>
    <div class="row text-center mb-4">
        <div class="col-12">
            <h1 class="logo-font pb-4">Our Coaches</h1>
                    {% for coach in coaches %}
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="row coach-row">
                                    <div class="col-6">
                                        <img class="coach-img img-fluid" src="{{ coach.image.url }}" alt="Coach {{ coach.coach.full_name }}">
                                    </div>
                                    <div class="col-6 text-left">
                                        <p><strong>{{ coach.coach.full_name }}</strong>
                                        <br>
                                        {{ coach.about_me|linebreaks }}</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    {% endfor %}
                </ul>    
        </div>
    </div>
    <hr>
    <div class="row text-center mb-4">
        <div class="col-12">
            <h1 class="logo-font pb-4">Our Venues</h1>
            <p>We are able to hold coaching sessions at 5 different climbing gyms accross Manchester</p>
            <a href="{% url 'all_venues' %}" class="btn btn-success">View venues</a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 mb-4">
            <img class="img-fluid" src="http://maps.google.com/maps/api/staticmap?center=53.466862,-2.240643&zoom=12&size=800x800&markers=size:mid|color:red|label:A|53.469495,-2.204242&markers=size:mid|color:red|label:B|53.474349,-2.184139&markers=size:mid|color:red|label:C|53.414168,-2.245245&markers=size:mid|color:red|label:D|53.491444,-2.245245&markers=size:mid|color:red|label:E|53.464072,-2.320576&key=AIzaSyBlSpQAy3QhnL7Dl415yppAYCUGw6oaSGo" alt="Map of all venues">
        </div>  
    </div>
</div>
{% endblock %}