{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-10 my-lg-auto mx-auto container-over-image">
                <h1 class="display-4 logo-font">Level Up! Climbing</h1>
                <div class="my-md-4">
                    {% if request.user.is_authenticated %}
                        <h3><a href="{% url 'courses' %}" class="sign-up-button btn btn-lg rounded-0 text-uppercase py-md-3">Check out our latest courses!</a></h3>
                    {% else %}
                        <h3><a href="{% url 'account_signup' %}" class="sign-up-button btn btn-lg rounded-0 text-uppercase py-md-3">Sign up to level Up!</a></h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}