{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-md-5 h-100">
        <div class="row h-100">
            <div class="col-10 my-lg-auto mx-auto">
                <h1 class="display-4 logo-font">Level Up! Climbing</h1>
                <div class="my-md-4">
                    {% if request.user.is_authenticated %}
                        <h2><a href="{% url 'courses' %}" class="sign-up-button btn btn-lg text-uppercase py-md-3">Check out our latest courses!</a></h2>
                    {% else %}
                            <h2 class="pr-2" style="display: inline;"><a href="{% url 'account_signup' %}" class="sign-up-button btn btn-lg text-uppercase py-md-3">Sign up to level Up!</a></h2>
                            <h2 style="display: inline;"><a href="{% url 'account_login' %}" class="log-in-button btn btn-lg text-uppercase py-md-3">Login</a></h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}