{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-over-image text-center mb-4">{{ profile }}'s Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card course-card mt-4">
                <div class="card-header text-center">
                    <h4>My Personal Details</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success btn-custom">Update Information</button>
                    </form>
                    <!-- {% if profile.is_coach %}
                        <p class="card-text"><span class="bold-green-text">About me:</span> {{ coach.about_me|default_if_none:"--" }}</p>
                        <p class="card-text"><span class="bold-green-text">About me:</span> {{ coach.about_me|default_if_none:"--" }}</p>
                        <img src="{{ coach.image.url }}" alt="{{profile}}'s picture" class="coach-img">
                    {% endif %}
                    <div class="text-center">
                        <a href="#" class="btn btn-success btn-custom">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Add/Update Information</span>
                        </a>
                    </div> -->
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-6">
            {% if profile.is_coach %}
                <h4 class="text-center text-uppercase bold-green-text">My Classes</h4>
            {% else %}
                <h4 class="text-center text-uppercase bold-green-text">My Bookings</h4>
                {% for booking in bookings %}
                    <div class="card course-card mt-4">
                        <div class="card-header text-center">
                            {{ booking.booked_course }}
                        </div>
                        <div class="card-body">
                            {% for c in course %}
                                {% if booking.booked_course == c.name %}
                                <p class="card-text"><span class="bold-green-text">Course start date:</span> {{ c.start_date }}</p>
                                <p class="card-text"><span class="bold-green-text">Venue:</span> {{ c.venue }}</p>
                                {% endif %}
                            {% endfor %}
                            <p class="card-text"><span class="bold-green-text">Booking reference:</span> {{ booking.booking_reference }}</p>
                            <p class="card-text"><span class="bold-green-text">Booking amount:</span> £{{ booking.booking_total }}</p>
                        </div>
                    </div>
                {% endfor %}  
            {% endif %}
        </div> 
    </div>
</div>
{% endblock %}
