{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-over-image text-center mb-4">{{ profile }}'s Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card course-card mt-4">
                <div class="card-header text-center">
                    <h4>My Personal Details</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mt-4 text-center">
                            <button class="btn btn-success btn-custom" name="profile-info">Update Information</button>
                        </div>
                    </form>
                </div>
            </div>
            {% if profile.is_coach %}
                <div class="card course-card mt-4">
                    <div class="card-header text-center">
                        <h4>My Coaching Information</h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'profile' %}" method="POST" id="coach-update-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in coach_form %}
                                {% if field.name != 'image' %}
                                    {{ field | as_crispy_field }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            <div class="mt-4 text-center">
                                <button class="btn btn-success btn-custom" name="coach-info">Update Information</button>
                            </div>
                        </form>
                    </div>
                
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-lg-6">
            {% if profile.is_coach %}
                <h4 class="text-center text-uppercase bold-green-text">My Classes</h4>
                    {% for course in coaches_courses %}
                        <div class="card course-card mt-4">
                            <div class="card-header text-center">
                                {{ course.name }}
                            </div>
                            <div class="card-body">
                                <p class="card-text"><span class="bold-green-text">Course start date:</span>   {{ course.start_date }}</p>
                                <p class="card-text"><span class="bold-green-text">Venue:</span> {{ course.venue }}</p>
                            </div>
                        </div>
                    {% endfor %}
            {% else %}
                <h4 class="text-center text-uppercase bold-green-text">My Bookings</h4>
                {% for booking in bookings %}
                    <div class="card course-card mt-4">
                        <div class="card-header text-center">
                            {{ booking.booked_course }}
                        </div>
                        <div class="card-body">
                            {% for c in course %}
                                {% if booking.booked_course == c.name %}
                                <p class="card-text"><span class="bold-green-text">Course start date:</span> {{ c.start_date }}</p>
                                <p class="card-text"><span class="bold-green-text">Venue:</span> {{ c.venue }}</p>
                                {% endif %}
                            {% endfor %}
                            <p class="card-text"><span class="bold-green-text">Booking reference:</span> {{ booking.booking_reference }}</p>
                            <p class="card-text"><span class="bold-green-text">Booking amount:</span> £{{ booking.booking_total }}</p>
                        </div>
                    </div>
                {% endfor %}  
            {% endif %}
        </div> 
    </div>
    
</div>
{% endblock %}
