{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-over-image text-center mb-4">{{ profile }}'s Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h4 class="text-center text-uppercase">My Personal Information</h4>

        </div>
        <div class="col-12 col-lg-6">
            {% if profile.is_coach %}
                <h4 class="text-center text-uppercase">My Classes</h4>
            {% else %}
                <h4 class="text-center text-uppercase">My Bookings</h4>
                <ul>
                    {% for booking in bookings %}
                        <li> 
                            <p><strong>{{ booking.booked_course }}</strong></p>
                            {% for c in course %}
                                {% if booking.booked_course == c.name %}
                                <p>Course level: {{ c.level }}</p>
                                <p>Course start date: {{ c.start_date }}</p>
                                {% endif %}
                            {% endfor %}
                            <p>Booking reference: {{ booking.booking_reference }}</p>
                            <p>Booking amount: £{{ booking.booking_total }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div> 
</div>
{% endblock %}
