{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <div class="card course-card">
                <div class="card-header logo-font text-center">Thank you</div>
                <div class="card-body">
                    <p>Your booking details are below. A confirmation email will be sent to <strong>{{ booking_submission.email }}</strong>.</p>
                    <hr>
                    <p></p>
                    <p><strong>Your booking reference:</strong> {{ booking_submission.booking_reference }}</p>
                    <p><strong>Booking under name:</strong> {{ booking_submission.full_name }}</p>
                    <p><strong>Booked course:</strong> {{ booking_submission.booked_course }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'profile' %}" class="btn btn-primary">Go to Profile</a>
            <a href="{% url 'courses' %}" class="btn btn-success">Book another course</a>
        </div>
    </div>
</div>
{% endblock %}