html {
    height: 100%;
}


body {
    background: url('/media/yns-plt-NY1D4Zni7fc-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Lato' ;
}

/* overlay on pages I do not want the main image*/
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*header/navbar styling*/

header {
   border-bottom: 5px solid #10bc6c; 
}

.list-inline-item:not(:last-child) {
    margin-right: 2rem;
    padding: 0 1rem;
}

.logo-font {
    color: #10bc6c;
    text-transform: uppercase;
    font-weight: bolder;
}

.sign-up-button {
    background-color: #10bc6c;
    color: #fff;
    text-shadow: 2px 2px 4px #0c3d26;
}

.container-over-image h1, .text-over-image {
    text-shadow: 4px 4px 8px #0c3d26;
}

.header-container {
    padding-top: 164px;
}

/* form/all auth pages styling when over the main body image*/
.form-over-image {
    background: #ffffff99;
    margin: 0 auto;
    width: max-content;
    padding: 1rem 4rem 2rem;
}

.form-over-image h1 {
    color: #10bc6c;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}


/* Course pages */

.course-card {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.course-card > .card-header {
    background-color: #d5f2e4;
    text-shadow: 1px 1px 0.5px #0c3d26;
}

.popover {
    margin-left: 2rem;
}

.popover-header {
    background-color: #d5f2e4;
    text-shadow: 1px 1px 0.5px #0c3d26;
    color: #10bc6c;
}

.course-detail-links {
    color: #10bc6c;
}



/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}
  

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}