html {
    height: 100%;
}


body {
    background: url('/media/yns-plt-NY1D4Zni7fc-unsplash.webp') no-repeat center center fixed;
    background-size: cover;
    color: #000000;
    font-family: 'Lato' ;
}

p, .btn, .btn-outline-dark, .btn-custom , .custom-links, .course-detail-links {
    font-size: 18px;
    letter-spacing: 0.5px;
}

/* overlay on pages with text and where I dont want image showing*/
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background-color: #fff; /*covers image*/
    background-image: linear-gradient(#fff, #10bc6c80);
	z-index: -1;
}

/* overlay on pages with forms where I want transparent overlay over image*/
.transparent-overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background-image: linear-gradient(#fff, #10bc6c80);
	z-index: -1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*header/navbar styling*/

header {
   border-bottom: 5px solid #10bc6c; 
}

.list-inline-item:not(:last-child) {
    margin-right: 2rem;
    padding: 0 1rem;
}

.navbar-light .navbar-nav .nav-link, .list-inline-item, a.nav-link {
    color: #282626;
}

.logo-font {
    color: #10bc6c;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #127245;
}

.bold-green-text{
    color: #127245;
    font-weight: bold;
    letter-spacing: 0.5px;
}

li {
    list-style-type: none;
}

.custom-links {
    color: #127245;
    font-weight: bold;
    text-decoration: underline;
}

.btn-custom {
    background-color: #127245;
    color: #fff;
}

.sign-up-button {
    background-color: #10bc6c;
    color: #fff;
    text-shadow: 2px 2px 4px #0c3d26;
}

.container-over-image h1, .text-over-image {
    text-shadow: 4px 4px 4px #fff;
    font-size: 50px;
    color: #127245;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: bolder;
}

.header-container {
    padding-top: 100px;
}

/* toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* pagination */



.pagination {
    display: inline-flex;
}

.pagination > li {
    color: #fff;
    font-size: 28px;
    margin: 5px 5px;
    padding: 2px 7px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #0c3d26;
}

.pagination > li > a {
    color: #fff;
    font-size: 28px
}

.pagination > li.active {
    background-color: #ffffff95;
    color: #127245;
    text-shadow: 2px 2px 4px #888888;
}

/* Coaches in about page*/
.coach-row {
    max-height: 400px;
    width: 80%;
}

.coach-img {
    width: auto;
    max-height: 400px;
}

.coach-text {
    font-size: 14px;
}


/* Course pages */

.course-card {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px #888888;
}

.course-card > .card-header {
    background-color: #d5f2e4;
    color: #127245;
    letter-spacing: 2px;
    font-size: 18px;
    border-bottom: 1px solid #127245;
    text-transform: uppercase;
    font-weight: bolder;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #127245;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.popover {
    margin-left: 2rem;
}

.popover-header {
    background-color: #d5f2e4;
    color: #127245;
}

.course-detail-links {
    color: #127245;
    text-decoration: underline;
}

.nav-item.filter-button {
    margin: 0 auto;
    box-shadow: 5px 5px 5px #888888;
}

.nav-item.filter-button > a {
    color: #fff;
}


/* Articles*/

.card.article-card {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px #888888;
}

.card-img.article-card-img {
    overflow: hidden;
    height: 200px;
    object-fit: cover;
}

.article-card-header, .article-detail-card > .card-header, .comments-card > .card-header, .modal-header {
    background-color: #d5f2e4;
    color: #127245;
    letter-spacing: 2px;
    font-size: 18px;
    border-bottom: 1px solid #127245;
    text-transform: uppercase;
    font-weight: bolder;
}

.article-overview > p.card-text, .article-overview > a {
    font-size: 14px;
}

.article-detail-card, .comments-card {
    background-color: #fff;
    letter-spacing: 2px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px #888888;
    overflow: auto;
}

.article-detail-card > img {
    max-width: 50%;
    float: left;
    margin: 20px;
}

.article-detail-card > .card-body {
    float: none;
}



/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}
  

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
    .course-card {
        max-width: 80%;
    }
}


@media (max-width: 500px) {

    .course-card {
        max-width: 95%;
    }
}