<div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="logo-font nav-link" href="{% url 'all_articles' %}">Articles</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link" href="#" id="class-options-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Classes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="class-options-link">
                <a href="{% url 'courses' %}" class="dropdown-item">Group Classes</a>
                <a href="" class="dropdown-item">1:1 Coaching</a> 
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link" href="#" id="user-options-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options-link">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_course' %}" class="dropdown-item">Class Management</a>
                        <a href="" class="dropdown-item">Article Management</a>
                    {% endif %}
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>

    </ul>
</div>