{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="transparent-overlay"></div>
<div class="card course-card text-center">
    <div class="card-header">
        <h1>{% trans "Change Password" %}</h1>
    </div>
    <div class="card-body">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action" class="btn btn-success btn-custom">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}
