{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="article-detail-card mb-3">
                <div class="card-header">
                    <h2 class="article-detail-title text-center mb-4">{{ article.title }}</h2>
                </div>
                {% if article.image %}
                    <img src="{{ MEDIA_URL }}{{ article.image }}" alt="{{ article.title }}" class="d-none d-md-block">
                {% else %}
                    <img src="{{ MEDIA_URL }}no-image-icon-23485.png" class="d-none d-md-block" alt="{{ article.title }}">
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ article.content|linebreaks }}</p>
                    <p class="card-text"><small class="bold-green-text">Created date: {{ article.created_date }}</small></p>
                    <div class="text-center">
                        <a class="btn btn-success btn-custom mt-4" href="{% url 'all_articles' %}">Back to articles page</a>
                        {% if user.is_superuser %}
                            <a class="btn btn-primary mt-4" href="{% url 'edit_article' article.id %}">Edit article</a>
                            <!--Delete Modal Button-->
                            <button type="button" class="btn btn-danger mt-4" data-toggle="modal" data-target="#deleteArticleModal">
                                Delete article
                            </button>
                            <!--Delete Modal Button-->
                            <div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog" aria-labelledby="deleteArticleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteArticleModalLabel">Delete article?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete article "{{ article.title }}"?</p>
                                            <p class="text-danger text-uppercase"><strong>Warning: This cannot be undone!!</strong></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger" href="{% url 'delete_article' article.id %}">Delete article</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if comments %}
        <div class="row">
            <div class="col">
                <h4 class="text-over-image text-center my-3 pb-4">Comments</h4>
                    {% for comment in comments %}
                        <div class="card comments-card">
                            <div class="card-header bold-green-text">Comment by: {{ comment.user_profile }}</sm></div>
                            <div class="card-body">
                                <h5 class="card-title bold-green-text">{{ comment.title }}</h5>
                                <p class="card-text">{{ comment.comment|linebreaks }}</p>
                                <p class="card-text bold-green-text"><small>Added: {{ comment.created_date }}</small></p>
                                <!--Edit and Delete comments - user only -->
                                {% if profile == comment.user_profile %}
                                    <a class="btn btn-primary mt-4" href="{% url 'edit_comment' comment.id %}">Edit comment</a>
                                    <!--Delete Modal Button-->
                                    <button type="button" class="btn btn-danger mt-4" data-toggle="modal" data-target="#deleteCommentModal{{ forloop.counter }}">
                                        Delete comment
                                    </button>
                                    <!--Delete Modal -->
                                    <div class="modal fade" id="deleteCommentModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel{{ forloop.counter }}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteCommentModalLabel{{ forloop.counter }}">Delete comment?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete this comment "{{ comment.title }}"?</p>
                                                    <p>{{ comment.comment|linebreaks }}</p>
                                                    <p class="text-danger text-uppercase"><strong>Warning: This cannot be undone!!</strong></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                                                    <a class="btn btn-danger" href="{% url 'delete_comment' comment.id %}">Delete comment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
            </div> 
        </div>
        <div class="row">
            <div class="col-12 text-center">
                {% if comments.has_other_pages %}
                    <ul class="pagination">
                        {% if comments.has_previous %}
                            <li><a href="?page={{ comments.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in comments.paginator.page_range %}
                            {% if comments.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if comments.has_next %}
                            <li><a href="?page={{ comments.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>             
    {% else %}
        <div class="row">
            <div class="col">      
                <div class="card comments-card text-center">
                    <div class="card-body">
                        <p class="bold-green-text card-text">There are no comments for this article currently!</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col">
                <div class="comments-card">
                    <div class="card-header text-center">Add a comment for this article: "{{ article }}"
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'article_detail' article.id %}" enctype="multipart/form-data" class="form mb-2" >
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field | as_crispy_field }}
                            {% endfor %}
                            <div class="text-center pt-4">
                                <button class="btn btn-success btn-custom" type="submit">Add Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}