{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="transparent-overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card course-card">
                <div class="card-header text-center">Edit Comment
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'edit_comment' comment.id %}" enctype="multipart/form-data" class="form mb-2" >
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field | as_crispy_field }}
                        {% endfor %}
                        <div class="text-center pt-4">
                            <a class="btn btn-outline-dark back-button" href="#">Cancel</a>
                            <button class="btn btn-success btn-custom" type="submit">Edit Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>           
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'js/backbutton.js' %}"></script>
{% endblock %}