{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="transparent-overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-over-image mb-4">Courses</h2>
        </div>
        <div class="col-6 text-center">
            <ul class="nav nav-tabs">
                <li class="nav-item dropdown mb-4 filter-button">
                    <a class="nav-link dropdown-toggle btn btn-success btn-custom" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter by Course Level</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'courses' %}">All Levels</a>
                        <a class="dropdown-item" href="{% url 'courses' %}?level=Beginner">Beginner</a>
                        <a class="dropdown-item" href="{% url 'courses' %}?level=Improver">Improver</a>
                        <a class="dropdown-item" href="{% url 'courses' %}?level=Intermediate">Intermediate</a>
                        <a class="dropdown-item" href="{% url 'courses' %}?level=Advanced">Advanced</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if levels %}
                {% for level in levels %}
                    <div class="card course-card text-center mb-4">
                        <div class="card-header"style="border-bottom: none;"">
                            Showing courses for Level: {{ level }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% for course in courses %}
                <div class="card course-card">
                    <div class="card-header">
                        {{ course.level }} - {{ course.name }}
                    </div>
                    <div class="card-body">
                    <p class="card-text">{{ course.course_type.description }}</p>
                    <p class="card-text"><span>Course start date & time:</span> {{ course.start_date|date:"l j/m/Y" }} at {{ course.start_date|date:"g:i a" }}</p>
                    {% if course.lesson_number > 1 %}
                        <p class="card-text"> {{ course.lesson_number}} lessons over {{course.lesson_number}} weeks. Repeats every {{ course.start_date|date:"l" }} at {{ course.start_date|date:"g:i a" }}</p>
                    {% else %}
                        <p class="card-text">This is a one off session</p>
                    {% endif %}
                    <p class="card-text">Lessons are 90 minutes long and include a warm up and cool down.</p>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'course_detail' course.id %}" class="btn btn-success btn-custom">More Details / Book Course</a>
                        {% if request.user.is_superuser %}
                            <a href="{% url 'edit_course' course.id %}" class="btn btn-primary">Edit course</a>
                        {% endif %}
                    {% else %}
                        <p class="card-text text-danger"><strong>You must be logged in to book a course.</strong></p> 
                        <p class="card-text custom-green-text"><strong>Havent got an account? Its free and easy to sign up!</strong></p>
                        <a href="#" class="btn btn-outline-dark back-button">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Back</span>
                        </a>
                        <a href="{% url 'account_signup' %}" class="btn btn-success btn-custom">Sign Up</a>
                        <a href="{% url 'account_login' %}" class="btn btn-primary">Log In</a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}    
        </div>    
    </div>
    <div class="row pagination-row">
        <div class="col-12 text-center">
            {% if courses.has_other_pages %}
                <ul class="pagination">
                    {% if courses.has_previous %}
                        <li><a href="?page={{ courses.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in courses.paginator.page_range %}
                        {% if courses.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if courses.has_next %}
                        <li><a href="?page={{ courses.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div> 
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'js/backbutton.js' %}"></script>
{% endblock %}
