{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <div class="card course-card">
                <div class="card-header logo-font">{{ course.name }}</div>
                <div class="card-body">
                    <p class="card-text">Level - {{ course.level }}</p>
                    <p class="card-text">{{ course.course_type.description }}</p>
                    <p class="card-text">Lessons include:</p>
                        <ul class="list-unstyled">
                            {% for lesson in course_lessons %}
                                {% if course.course_type == lesson.course_type %}
                                    <li>
                                        <a class="course-detail-links" href="#" tabindex="0" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" title="{{ lesson.name}}" data-bs-content="{{ lesson.lesson.description }}">
                                            {{ lesson.name}}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    <p class="card-text"><span>Course start date & time:</span> {{ course.start_date }}</p>
                    <p class="card-text">The course runs for 4 weeks. Classes will be on the same week day and time as the first lesson.</p>
                    <p class="card-text">Price: £{{ course.course_type.price }}</p>
                    <a href="#" class="btn rounded-0 back-button">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Back to courses</span>
                    </a>
                    <a href="{% url 'booking' course.id %}" class="btn btn-success">Book Course</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/popover.js' %}"></script>
    <script src="{% static 'js/backbutton.js' %}"></script>
{% endblock %}
