{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="transparent-overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <div class="card course-card">
                <div class="card-header">{{ course.name }}</div>
                <div class="card-body">
                    <p class="card-text">Level - {{ course.level }}</p>
                    <p class="card-text">{{ course.course_type.description }}</p>
                    <p class="card-text bold-green-text">Lessons include:</p>
                        <ul class="list-unstyled">
                            {% for lesson in course_lessons %}
                                {% if course.course_type == lesson.course_type %}
                                    <li>
                                        <a class="course-detail-links" href="#" tabindex="0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="focus" title="{{ lesson.name}}" data-content="{{ lesson.lesson.description }}">
                                            {{ lesson.name}}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    <p class="card-text"><span class="bold-green-text">Course start date & time:</span> {{ course.start_date|date:"l" }} {{ course.start_date }}</p>
                    {% if course.lesson_number > 1 %}
                        <p class="card-text"> {{ course.lesson_number}} lessons over {{course.lesson_number}} weeks. Repeats every {{ course.start_date|date:"l" }} at {{ course.start_date|date:"h:i a" }}</p>
                    {% else %}
                        <p class="card-text">This is a one off session</p>
                    {% endif %}
                    <p class="card-text"><span class="bold-green-text">Price:</span> £{{ course.course_type.price }}</p>
                    <p class="card-text"><span class="bold-green-text">Capacity:</span> {{ capacity }}</p>
                    <p class="card-text"><span class="bold-green-text">Available places:</span> {{ available_course_places }}</p>
                    <p class="card-text"><span class="bold-green-text">Venue:</span> {{ course.venue }}</p>
                    <p class="card-text"><span class="bold-green-text">Coach:</span> {{ course.coach }}</p>
                        {% if course.course_complete %}
                            <p class="card-text text-danger"> We're sorry but this course has finished!</p>
                                {% if user.is_superuser %}
                                    <p class="card-text text-danger">Superuser: if this was marked as finished in error, please update below </p>
                                    <a href="{% url 'edit_course' course.id %}" class="btn btn-success btn-custom">Edit course</a>
                                {% endif %}
                                <a href="{% url 'courses' %}" class="btn btn-outline-dark">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Back to courses</span>
                                </a>
                        {% elif available_course_places == 0 %}
                            <p class="card-text text-danger"> We're sorry but this class is fully booked!</p>
                            <a href="{% url 'courses' %}" class="btn btn-outline-dark">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Back to courses</span>
                            </a>
                        {% else %}
                            {% if user_booked %}
                                <p class="card-text text-danger text-uppercase"> You already have a booking for this course, please check your profile page for information!</p>
                                <a href="{% url 'courses' %}" class="btn btn-outline-dark">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Back to courses</span>
                                </a>
                                <a href="{% url 'profile'  %}" class="btn btn-success btn-custom ">My Profile</a>
                            {% else %}
                                <a href="{% url 'courses'  %}" class="btn btn-outline-dark">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Back to courses</span>
                                </a>
                                <a href="{% url 'booking' course.id %}" class="btn btn-success btn-custom">Book Course</a>
                            {% endif %}    
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }} 
    <script src="{% static 'js/popover.js' %}"></script>
{% endblock %}
