{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="transparent-overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card course-card">
                <div class="card-header text-center">Edit a Course - {{ course.name }} <br>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'edit_course' course.id %}" enctype="multipart/form-data" class="form mb-2" >
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'start_date' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                <label for="{{ field.name }}" class="pr-5 pb-4">Start date & time:</label>
                                <input type="datetime-local" id="{{ field.name }}" name="{{ field.name }}">
                            {% endif %}
                        {% endfor %}
                        <div class="text-center pt-4">
                            <a class="btn btn-outline-dark" href="{% url 'courses' %}">Cancel</a>
                            <button class="btn btn-success btn-custom" type="submit">Edit Course</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>           
    </div>
</div>
{% endblock %}
