{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="transparent-overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card course-card">
                <div class="card-header text-center">404 - Ooops....something went wrong!
                </div>
                <div class="card-body">
                    <p class="card-text bold-green-text">Please first double check the url used.</p>
                    <p class="card-text bold-green-text">If the problem persists, please contact us using the enquiry form on the link below. Please tell us the url or the page you were trying to reach.</p>
                    <p class="card-text bold-green-text">Thank you for your patience!</p>
                    <a href="{% url 'contact' %}" class="btn btn-success btn-custom">Contact us</a>
                </div>
            </div>
        </div>           
    </div>
</div>
{% endblock %}