{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="transparent-overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card course-card">
                <div class="card-header text-center">Contact us
                </div>
                <div class="card-body">
                    <p class="card-text bold-green-text">Review the information and contact the customer. Mark as complete when done!</p>
                    <form method="POST" action="{% url 'coaching_contact_detail' contact.id %}" class="form mb-2" >
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field | as_crispy_field }}
                        {% endfor %}
                        <div class="text-center pt-4">
                            <button class="btn btn-success btn-custom" type="submit">Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>           
    </div>
</div>
{% endblock %}
